html {
    font-size: 14px;
    background-color: black;
    color: white;
}

a {
    color: yellow;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
}

.App {
    margin: 20px;
    padding: 20px;
}

.Subforum {
    margin-top: 20px;
}

.Subforum-Divider {
    display: block;
    border: 0;
    height: 1px;
}

.Subforum-Title {
    background-color: rgb(64, 64, 64);
    padding: 10px;
    border-radius: 5px;
    margin: 4px;
}

.Subforum-Row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.Subforum-Column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color:  rgb(32, 32, 32);
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subforum-Icon-Img {
    filter: invert(1);
    width: auto;
    max-width: 100%;
    height: auto;
}

.Navigation {
    background-color: darkcyan;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.Nav-List {
    list-style-type: none;
    overflow: hidden;
}

.Nav-Item a {
    float: left;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.Nav-Item a:hover {
    background-color: rgba(0,0,0,0.1);
}


.Nav-Search {
    border: solid 1px purple;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px purple;
}

.Nav-Search select {
    padding: 10px;
}

.Nav-Search input {
    padding: 10px;
}

.Nav-Search button {
    padding: 10px;
    background-color: white;
    color: black;
}

.Nav-Search button:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 2px 3px white;
}

.App-Info {
    padding: 20px;
    background-color: rgb(32, 32, 32);
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: purple;
}



/* Smartphone Styles */
@media screen and (max-width: 800px) {
    .App {
        margin: 5px;
        padding: 5px;
    }

    .Subforum-Row {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }
}
