html {
    font-size: 14px;
    background-color: black;
    color: white;
}

a {
    color: yellow;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
}

.App {
    margin: 20px;
    padding: 20px;
}

.App-Info {
    padding: 20px;
    background-color: rgb(32, 32, 32);
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: purple;
}



/* Smartphone Styles */
@media screen and (max-width: 800px) {
    .App {
        margin: 5px;
        padding: 5px;
    }

    .BoardPreview {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .Nav-Search {
        display: flex;
        flex-direction: column;
    }

    .Nav-Search select, .Nav-Search input, .Nav-Search button {
        min-width: 150px;
        margin-top: 5px;
    }
}
